{% extends 'base.html.twig' %}

{% block title %}Search servers{% endblock %}

{% block javascripts %}
<script src="//unpkg.com/alpinejs" defer></script>
<script>
window.search = async function() {
    this.searched = true;
    let params = {
        'storage': this.storage ?? '',
        'ram': this.rams ?? '',
        'hard_disk_type': this.hardDiskType ?? '',
        'location': this.location,
    }
    fetch('http://localhost:8000/api/servers?' + new URLSearchParams(params))
          .then(res => res.json())
          .then(data => {
            this.result = data;
          });
}
</script>
{% endblock %}

{% block body %}
<div 
    class="container" 
    x-data="{
        result: {},
        storageList: [], 
        ramList: [], 
        hardDiskTypeList: [], 
        locationList: [],

        searched: false,
        storage: '', 
        rams: [], 
        hardDiskType: '', 
        location: '',
    }"
    x-init="
    storageList = await (await fetch('http://localhost:8000/api/filters/storage')).json();
    ramList = await (await fetch('http://localhost:8000/api/filters/ram')).json();
    hardDiskTypeList = await (await fetch('http://localhost:8000/api/filters/hard-disk-type')).json();
    locationList = await (await fetch('http://localhost:8000/api/filters/location')).json();
    ">
  <div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title text-center">Search servers</h5>
                <div class="row">
                    <div class="col-3">
                        <label for="storage" class="form-label d-block">Storage</label>
                        <select class="form-select" id="storage" x-model="storage">
                            <template x-for="eachStorage in storageList">
                                <option :value="eachStorage" x-text="eachStorage"></option>
                            </template>
                        </select>
                    </div>
                    <div class="col-9">
                        <label for="ram-memory" class="form-label d-block">RAM Memory</label>
                        <template x-for="eachRam in ramList">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" :value="eachRam" name="ram" x-model="rams">
                                <label class="form-check-label" for="ram" x-html="eachRam"></label>
                            </div>
                        </template>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        <label for="hard-disk-type" class="form-label">Hard Disk Type</label>
                        <select class="form-select" id="hard-disk-type" x-model="hardDiskType">
                            <option selected>Select</option>
                            <template x-for="type in hardDiskTypeList">
                                <option :value="type" x-text="type"></option>
                            </template>
                        </select>
                    </div>
                    <div class="col-3">
                        <label for="location" class="form-label">Location</label>
                        <select class="form-select" id="location" x-model="location">
                            <option selected>Select</option>
                            <template x-for="location in locationList">
                                <option :value="location" x-text="location"></option>
                            </template>
                        </select>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <button class="btn btn-primary" @click="search">Filter</button>
            </div>
        </div>
    </div>
  </div>
  <template x-if="result.results && Object.keys(result.results).length == 0 && searched">
    <div class="alert alert-secondary mt-4" role="alert">
        No results found
    </div>
  </template>
  <template x-if="result.results && Object.keys(result.results).length">
    <table class="table mt-4">
        <thead>
            <tr>
            <th scope="col">Model</th>
            <th scope="col">Storage</th>
            <th scope="col">Ram</th>
            <th scope="col">Hard Disk Type</th>
            <th scope="col">Location</th>
            </tr>
        </thead>
        <tbody>
            <template x-for="server in result.results">
                <tr>
                    <th scope="row" x-text="server.model"></th>
                    <td x-text="server.storage"></td>
                    <td x-text="server.ram_memory"></td>
                    <td x-text="server.hard_disk_type"></td>
                    <td x-text="server.location"></td>
                </tr>
            </template>
        </tbody>
    </table>
  </template>
</div>

{% endblock %}